[2017-02-10 13:30] dww100 opened #1 "Is NAMD supported by Ensemble Toolkit?"
At least initially, we will be running simulations using NAMD. This ticket is just to flag that in case there are any issues with this either from our end or needed support from target sites (as discussed in today's telco).

[2017-02-10 13:52] vivek-bala commented on #1
Hi Dave, as long as the kernel (in this case NAMD) is up and running on the cluster that you want to use, Ensemble toolkit (EnTK) will be able to use this kernel. By design, EnTK is not bound to any specific kernels.

[2017-02-10 13:54] shantenujha commented on #1
Vivek - I agree. But I asked Dave to open a ticket to ensure that we test with NAMD as well, as we don't have regular usage.  Is this tested locally?

[2017-02-10 13:57] vivek-bala commented on #1
We had a namd example in a previous version targetting stampede. I'll dig that out.

[2017-02-10 16:26] dww100 opened #2 "Correct setup of MongoDB to create databases 'on the fly'"
I have been playing with the getting started script for ensemblemd. If I set the MongoDB URL environment variable using:
`export RADICAL_PILOT_DBURL='mongodb://user:password@crick.chem.ucl.ac.uk:27017/testdb'`
and comment out the database_url entry in the ResourceHandle then I would expect the testdb databse to be created on the fly as suggested by:
http://radicalpilot.readthedocs.io/en/latest/ins

[2017-02-10 17:04] vivek-bala commented on #2
Hey Dave,

Which branch of Radical pilot and Ensemble toolkit are you using? You can also get the versions by doing ```radicalpilot-version``` and ```ensemblemd-version```.

[code]
Just to be sure. After setting up a mongodb instance (on mlab for example) you will need to add a user and password for the user. Those credentials needs to be substituted into this URL. Ignore if that is already done a

[2017-02-13 09:14] dww100 commented on #2
The username and password are indeed placeholders. In reality we have used a real username and password we have previously created. We have also checked we can make new databases with this used on the mongodb shell. I think it would be helpful if the need to do these things was documented somewhere as the roles we had to give the user were not default (or necessarily intuitive). I'll happily do th

[2017-02-15 12:29] vivek-bala commented on #2
That is a bit weird. Just to check: I tried out the same example and used the environment variable for the mongodb url, seems to have worked for me.

Two questions:

* Were there any changes to the ```get_started.py``` script? I am assuming you already commented out the dburl parameter in the ResourceHandle object in the script
* Does the default dburl in the script work?

[2017-02-21 09:56] dww100 commented on #2
* I haven't altered the `get_started.py` script other than to experiment with changing the hard coded database_url (I've tried commenting out and setting a new hard coded address).

* The default database_url is working fine

I'm using the conda version of ensemble toolkit by the way

[2017-02-21 16:41] vivek-bala commented on #2
Hmmm. Strange. Is it possible for me to get access to the same mongo db?

Ah ok. I will test in the same environment then.

[2017-02-21 16:45] dww100 commented on #2
Sure - the mongodb instance is at:
Host: crick.chem.ucl.ac.uk
Port: 27017
Username: radical
Password: fg*2GT3^eB

@sjzasada let me know if either a) this is and issue or b) there is more information needed

[2017-02-21 17:11] vivek-bala commented on #2
I get an authentication error. I assume the db name is 'testdb' based on the error log in the ticket. Can you confirm 1) that is the db to be tested? 2) that it is currently running?

Thanks

[2017-02-21 17:21] dww100 commented on #2
Try `admin` or `daveww`.
Seems to be authenticating fine for me using those databases

[2017-02-21 17:37] vivek-bala commented on #2
Ok 'admin' worked. The script was successful when run within a conda env as well.

To be sure, I have ```database_url='mongodb://radical:fg*2GT3^eB@crick.chem.ucl.ac.uk:27017/admin'``` in the script (or the same value for RADICAL_PILOT_DBURL).

Not sure if this makes a difference, but are you using bash shell or csh? (maybe the url is not being parsed correctly)

[2017-02-21 17:46] dww100 commented on #2
The original point was that we can run as your suggest - but only once we have setup the database and only when that database is the admin database against which users are authenticated.

The radical tools documentation states that we can create new databases on the fly by changing the database URL (whether directly input or from the environment variable).

We were hoping that individual users wou

[2017-02-21 18:06] vivek-bala commented on #2
We were hoping that individual users would have separate databases. Is this not the way things are supposed to work?

Ah yes. I lost track of the 'on the fly' part. Thanks for reminding.  Let me test if its fully supported on both entk and the rp layer.

[2017-02-22 13:14] sjzasada opened #3 "Documentation inconsistency"
While trying to work through example 5.1.1 in the ensemblemd documentation, I am advised:

I am then directed to section 3 of the documentation for more information on configuring MongoDB. However, I can't see anything about setting `RADICAL_PILOT_DBURL` in section 3 and in fact had to study the separate radical pilot docs for details of exactly how to specify the environment variable.

For comple

[2017-02-22 16:44] sjzasada commented on #2
I've independently tried to run the example script Dave is referring to and have found that the database is not created on the fly.

[2017-02-28 11:15] sjzasada opened #4 "Remote pipeline of ensembles"
I'm trying to run the pipeline of ensembles script in section 5.1.1 of the ensemblemd documentation remotely, specifically on the archer platform.

I've configured ~/.ssh/config to log into archer with my username on the system (stef1). ssh archer works fine.

I've also configured config.json with my project info:

	"epsrc.archer"  : {
				"project"  : "d137-stef",
				"queue"    : "standard",

[2017-02-28 12:10] sjzasada commented on #4
Further to this, if I change the resource_epsrc.json file to manually set the path of my work dir:

        "default_remote_workdir"      : "/work/d137/d137/stef1/",

I get the following error:

[code]

This suggests two things I think:

1) The original setting of `/work/id -gn/id -gn/$USER` is picking up $USER from my local machine, not Archer.
2) That radical pilot is trying to create a folder t

[2017-02-28 17:53] vivek-bala commented on #4
Hey Stefan,

Quick question: are you running the entk (client) script on your laptop and then specifying the resource as archer or is the entk script also running on archer?

To help understand the difference, just added a document describing local vs remote execution to the repo: https://github.com/radical-collaboration/GB-SC18/blob/master/docs/execution_modes.md

[2017-02-28 17:55] vivek-bala commented on #4
By default, I think the user should be able to specify where the sandbox can be created. I'm not sure if something different is configured for archer. @andre-merzky  any idea? (i'm working on reviving my archer account, incase you have an answer already)

[2017-03-01 10:55] sjzasada commented on #4
Thanks.

I can confirm I am running the client from my laptop.

There is definitely something wrong with the way the archer resource_epsrc.json script works when setting the remote working directory, specifically with `/work/id -gn/id -gn/$USER`

Since this resolves to `/work/e10/e10/stef` (i.e. not my group, which is d137, or my username which is stef1). Possibly this is cached somewhere from a p

[2017-03-01 11:18] sjzasada commented on #4
Actually, I think I know what is happening here. Radical is using my username on my local system to log into archer (the username is stef on both systems). I actually want it to use the username stef1 (my active archer account).

My reading of [this page](http://radicalensemblemd.readthedocs.io/en/latest/installation.html#preparing-the-environment) suggests that the way to specify your username on

[2017-03-01 11:20] andre-merzky commented on #4
Hi Stefan,

can you please send the error message / stack trace for the failing folder creation?  I am not exactly sure where that kicks in.  Thanks!

Re path construction: `id -gn` returns the *effective* group ID.  It might well be that you are in different unix groups, but that the effective ID differs on the head node and during job  runtime, or when opening a new ssh shell.  What do you get o

[2017-03-01 11:52] sjzasada commented on #4
Hi Andre,

I think I've solved the problem (see last comment). I was expecting my username to be picked up from ~/.ssh/config but this isn't the case, so radical pilot was logging into archer with the wrong account.

Thanks,

Stefan

[2017-03-01 11:52] #4 closed, assigned to andre-merzky

[2017-03-01 11:53] andre-merzky commented on #4
Ah, I missed that indeed - thanks for the note!

[2017-03-01 14:04] sjzasada opened #5 "MongoDB/blocked outbound backend nodes"
Sorry for all the questions.

I'm getting errors on Archer because the backend nodes don't have outbound internet access, and therefore cannot see the mongodb server. The error is:

[code]

I seem to recall Shantenu telling me there was a way around this, but I can't find it in the documentation (because I'm not sure what to look for). Is it possible to deal with situations like this, and can you

[2017-03-02 10:54] dww100 commented on #5
When I asked Iain Bethune @ EPCC about this I got the following response:

[2017-03-02 14:31] vivek-bala commented on #5
Hey Stefan, David, I believe radical pilot (RP) should already be doing that on Archer. ```/work/e290/shared/shared_pilot_ve_20150924``` might need a refresh though since mlab versions have changed since that date. If so, I think @andre-merzky  might have to rebuild that.

Meanwhile could I ask you the following:

* Is the above error reproducible? (just to rule out temporary network issues)
* We

[2017-03-02 14:38] vivek-bala commented on #2
Following up on the discussions in https://github.com/radical-cybertools/radical.pilot/issues/1242, it seems to be incorrectly mentioned in the documentation that a database can be created on the fly. Due to difficulties in automation of the user authentication and management, RP or EnTK might not be the right place.

A separate user management layer over EnTK could be something we can think about

[2017-03-02 14:46] vivek-bala commented on #1
Example of the namd kernel: https://github.com/radical-cybertools/radical.ensemblemd/blob/master/src/radical/ensemblemd/kernel_plugins/md/namd.py. This might require changes in terms of the executable or arguments that we want to use.

I believe the namd version on stampede is now 2.10 and 2.11 though.

[2017-03-02 15:10] dww100 commented on #1
Great - thanks

[2017-03-02 15:11] sjzasada commented on #5
The problem happens consistently every time the application is run.

Furthermore, submitting the following command to the queue on Archer:

`nc -zv 193.60.241.34 27017`

Returns the result:

`nc: connect to 193.60.241.34 port 27017 (tcp) failed: Network is unreachable`

Upgrading the client side has had no effect.

Thanks,

Stefan

[2017-03-02 21:07] vivek-bala commented on #5
Hi Iain,

We are running into some MongoDB connectivity issues on Archer using v0.45
of RP. Could you let us know if you encountered this issue during the
testing or if any specific configuration ( e.g. internal vs external
mongodb) was required?

I'm waiting for my Archer pwd to be reset in order to test this myself, but
in case you had any quick answers/pointers to this issue.

Thanks
Vivek

On

[2017-03-02 22:02] ibethune commented on #5
Hi all,

Sorry @dww100 when you emailed me I wasn't aware you were talking in the context of running RP, hence my answer was somewhat general!

Actually, we did not test on ARCHER during the 0.45 release testing phase.  However, I just ran the 01_unit_details.py script and it ran just fine (barring https://github.com/radical-cybertools/radical.pilot/issues/1254).  I used the `epsrc.archer` config.

[2017-03-02 23:51] vivek-bala commented on #5
Thanks @ibethune. It is my understanding too, that RP sets up the tunneling mechanism.

@sjzasada Could you rerun with some environment variables setup ```RADICAL_VERBOSE=DEBUG``` ```RADICAL_LOG_TGT=radical.log```? Once done please share your pilot folder (on archer) and radical.log (on client).

@andre-merzky do you see any other triggers for this issue?

[2017-03-03 13:16] sjzasada commented on #5
I've run this with the extra logging. Please find the requested files attached.

[rp.session.parkin.lan.stef.017228.0000-pilot.0000.zip](https://github.com/radical-collaboration/GB-SC18/files/816843/rp.session.parkin.lan.stef.017228.0000-pilot.0000.zip)

[radical.txt](https://github.com/radical-collaboration/GB-SC18/files/816847/radical.txt)

Thanks,

Stefan

[2017-03-03 15:37] andre-merzky commented on #5
Stefan,

I think your problem is that the tunnel gets not created:

[code]

Can you please make sure that `ssh localhost` works on the archer headnode?  You may need to set up an ssh keypair for that.

Iain, IIRC, there existed some documentation on ssh key setup for archer - do you remember if that is indeed the case, and where that documentation lives?

[2017-03-03 15:44] ibethune commented on #5
There is this: http://extasy-workflows.readthedocs.io/en/latest/pages/trouble.html#error-permission-denied-publickey-keyboard-interactive-in-agent-stderr

[2017-03-03 15:50] andre-merzky commented on #5
thanks Iain!

[2017-03-03 16:33] sjzasada commented on #5
Thanks guys, I'll try this and let you know what happens.

Stefan

On 03/03/2017 15:44, Iain Bethune wrote:

[2017-03-06 14:24] sjzasada commented on #5
Thanks for all the help everyone. I set up ssh localhost and now everything works for me on Archer.

[2017-03-06 14:24] #5 closed, assigned to andre-merzky, vivek-bala

[2017-03-06 15:31] vivek-bala commented on #5
Great! Glad to hear that.

[2017-04-21 11:12] andre-merzky opened #6 "Investigate remote RP access to Supermuc"
based on the local approach documented [here](https://github.com/radical-cybertools/radical.pilot/wiki/Supermuc)

[2017-04-21 11:20] dww100 opened #7 "Incorporate NAMD example into repository"
Small ensemble bigger than a 'toy' model

[2017-05-17 12:43] sjzasada opened #8 "Staging directories"
Hi,

The documentation here: http://radicalensemblemd.readthedocs.io/en/latest/api/api_buildingblocks.html#kern-api

Suggests that the `upload_input_data` parameter of `radical.ensemblemd.Kernel` can be used to uploaded both files and directories. It seems to work ok uploading files, but if I specify a directory nothing seems to happen, not even an error.  Have I missed something?

Thanks,

Stefan

[2017-05-18 14:50] vivek-bala commented on #8
Hi Stefan, that is indeed an error with the documentation. Currently, only files can be staged with any of the staging directives. Apologize for that.

@andre-merzky : Hey Andre, since we are getting multiple requests for folder transfer, can we revisit https://github.com/radical-cybertools/radical.pilot/issues/936 ? I believe there was also a ticket from Jan-Hendrik.

[2017-06-20 03:31] vivek-bala commented on #8
Moving from email to issue tracker. From Stefan:

Hey Stefan, you can specify all the files to be staged in a list and use the ```shared_data``` attribute of the Resource Handle to stage these data once. You can copy or link these data between various locations on remote. There is no specfic example discussing shared data. Thanks for the ticket. I will add documentation for this one. Please see th

[2017-06-21 10:25] sjzasada commented on #8
Thanks. I've tried running the modified version in the shared_data branch and it produces this error:
BadParameter: invalid dir

[code]

It isn't clear from looking at the shell_files.py code why this happens. Is there something extra that I should have configured? I've searched the ensembletk documentation and can't really find much about shared data.

Thanks.

[2017-06-21 13:56] vivek-bala commented on #8
Hey Stefan, is this the error when running on archer? Is "d137" the project you use? This looks more like a permission error to create the 'staging_area' folder which will hold all the shared data.

On another note, I'm working on the documentation issues in entk. I should have most of them covered by end of tomorrow.

[2017-06-21 14:19] sjzasada commented on #8
Yes, this happens on Archer when the version of the script you modified is run. Note, it is caused by the inclusion of the line:

[code]

If this line is omitted and data is staged with

[code]

the relevant pilot sandbox directory is created (e.g. `/work/d137/d137/stef1/radical.pilot.sandbox/rp.session.parkin.lan.stef.017338.0007-pilot.0000`) is created.

However, when the shared_data array is in

[2017-06-21 15:14] andre-merzky commented on #8
Is that directory available on the compute noxes, or only on the headnode?

[2017-06-21 15:15] vivek-bala commented on #8
This seems to be coming from the RP layer. Not exactly sure why it can create the sandbox but not the staging_area. @andre-merzky any idea why this might be happening? I remember there were some [VE changes](https://github.com/radical-cybertools/radical.pilot/issues/1222) that had to be made on archer.

[2017-06-21 15:27] sjzasada commented on #8
@andre-merzky Yes, everything under /work is available from the compute nodes.

[2017-06-21 15:36] andre-merzky commented on #8
Hmm, I am out of ideas - I can't see why that command would not work when executed via RP, compared to being executed interactively.  We don't use different accounts (unless that is specified in the RP session or your .ssh/config).  The error appears in the client side logfiles, not in the agent logfiles in the pilot sandbox, correct?

For more debug information, please run the application again w

[2017-06-21 15:44] sjzasada commented on #8
Here are the log files.

The odd thing is that when it executes the command:

`mkdir -p / && cd / &&  mkdir -p '/work/d137/d137/stef1/radical.pilot.sandbox/rp.session.parkin.lan.stef.017338.0039-pilot.0000/staging_area' ;  cd '/work/d137/d137/stef1/radical.pilot.sandbox/rp.session.parkin.lan.stef.017338.0039-pilot.0000/staging_area'`

It fails with

`Allocation failed: invalid dir '/work/d137/d137

[2017-06-21 20:07] andre-merzky commented on #8
Thanks Stephan!

Can you please run the following set of commands on `eslogin008`, please?

[code]

Note the `stty -echo ; exec /bin/sh -i ` - that will create a new shell, and turn off echo, so the terminal will be somewhat unusable - you still get stdout/stderr from commands though.

Thanks!

[2017-06-21 21:00] andre-merzky commented on #8
Hi again,

I managed to revive my archer account, and actually also have access to `d137`!  While I did not manage to run a pilot (no allocation left), I *could* stage data ok, and the `staging_area` got created without any troubles.

What I did is to run the RP code in `examples/07_shared_unit_data.py epsrc.archer`, after changing the project to `d137` in `examples/config.json`.  I am not sure wh

[2017-06-21 21:08] vivek-bala commented on #8
That would indeed be the correct equivalent. Hey Stefan, please give the example a try. You can use the same virtual environment as you have used for entk.

Let me try to simplify a bit. Once you have sourced your virtualenv, please run the following:
[code]

[2017-06-21 21:11] vivek-bala commented on #8
Note that (unlike the entk script) you cannot set the username in this rp script directly. The quickest (probably recommended) method would be to set your ssh config file in $HOME appropriately. If you already have setup the ssh config file, please ignore.

Your .ssh/config file should look like the following:
[code]

[2017-06-22 11:40] sjzasada commented on #8
Hi Andre,

I can confirm that these commands do create the folder:

stef1@eslogin001:~> export PS1='$' ; set prompt='$'
$export PS1='$' > /dev/null 2>&1 || set prompt='$'
$printf 'HELLO_%d_SAGA\n' 1
HELLO_1_SAGA
$stty -echo ; exec /bin/sh -i
eslogin001:~> PROMPT-0->PROMPT-0->/work/d137/d137/stef1/radical.pilot.sandbox/rp.session.parkin.lan.stef.017338.0039-pilot.0000/staging_area
PROMPT-0->

Stefa

[2017-06-22 11:59] sjzasada commented on #8
Hi @vivek-bala

I’ve come up against another problem here (which I’ve experienced before). My .ssh/config file is set up correctly:

[code]

This works fine if I `ssh archer` from the command line. However, Radical logs in with the username from my laptop (stef).

The `python 07_shared_unit_data.py epsrc.archer` command therefore fails.

Note, I have two accounts on archer (stef & stef1) so loggin

[2017-06-22 12:02] sjzasada commented on #8
Further to this, I've just tried removing the authorized_key for my stef account so that ssh stef@login.archer.ac.uk doesn't happen automatically.

The radical pilot job now fails with

`Password: ) (/Users/stef/Development/Radical/myenv/lib/python2.7/site-packages/saga/utils/pty_shell_factory.py +315 (_initialize_pty)  :  % match))`

hence it is still not readying me .ssh/config settings.

[2017-06-22 15:13] vivek-bala commented on #8
Can you edit the ssh config file as follows:

[code]

and try again please? I have another method that will definitely work but requires adding some more code to the script (and possible deprecated/ not recommended).

[2017-06-22 15:23] sjzasada commented on #8
Thanks Vivek,

On 22 Jun 2017, at 16:13, Vivekanandan (Vivek) Balasubramanian <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you edit the ssh config file as follows:

Host archer epsrc.archer login.archer.ac.uk<http://login.archer.ac.uk/>
    Hostname login.archer.ac.uk<http://login.archer.ac.uk/>
    User stef1

and try again please? I have another method that will defini

[2017-06-22 15:29] vivek-bala commented on #8
Great! Keep me posted!

[2017-06-23 10:03] #8 closed, assigned to nobody

[2017-06-23 10:04] sjzasada opened #10 "Linking directories"
Hi,

Is it possible to use k1.link_input_data to link an entire directory structure between stages, or is it only possible to link individual files?

Thanks,

Stefan

[2017-06-23 12:55] sjzasada opened #11 "EoP vs PoE"
Can you help me understand the difference between EoP and PoE? The diagrams shown in the examples section of the documentation look effectively the same. I assume that an EoP executes all stages independently of the other instances whereas PoE waits for all instances at a particular stage to finish before starting the next stage.

Sorry if I've missed the explanation in the docs somewhere.

[2017-06-26 22:26] vivek-bala commented on #11
Hi Stefan, sure. Your understanding is correct. An 'Ensemble' consists of entities that have no dependencies and can be executed concurrently. A 'Pipeline' consists of entities that have a linear temporal dependency (a stage number is used to describe the temporal ordering).

An EoP consists of Pipelines that can be concurrently executed. Note the dependency within each of the Pipeline is to be ma

[2017-06-26 22:31] vivek-bala commented on #10
Hey Stefan, currently all transfer operations (copy, link, upload, download) are only file based. If there are a large number of files in that folder, I would suggest creating a tarball of that folder in order to transfer. Another idea might be to read and write from pre-defined locations on the remote machine. It depends on the application, some of the factors you might want to consider are the n

[2017-06-27 09:56] sjzasada commented on #10
And is the $SHARED variable only expanded for file transfer operations, or can it also be used in kernel arguments, e.g. k.arguments = [“—inputfile=$SHARED/foo“]?

Thanks,

Stefan

On 26 Jun 2017, at 23:31, Vivekanandan (Vivek) Balasubramanian <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey Stefan, currently all transfer operations (copy, link, upload, download) are only fi

[2017-06-27 09:56] sjzasada commented on #10
Thanks. Is it possible to create a per instance shared directory (ie one that can be shared between all the steps in an instance)?

Stefan

On 26 Jun 2017, at 23:31, Vivekanandan (Vivek) Balasubramanian <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey Stefan, currently all transfer operations (copy, link, upload, download) are only file based. If there are a large number of

[2017-06-27 14:15] vivek-bala commented on #10
Yes, it is expanded only for file transfer operations.

Yes, any file staged into the $SHARED location can be accessed by every other task.

[2017-06-27 14:45] sjzasada commented on #11
Thanks. Is there a way to run selected steps from an EoP, e.g. if I just wanted to run steps 1-6, then step 9?

On 26 Jun 2017, at 23:26, Vivekanandan (Vivek) Balasubramanian <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi Stefan, sure. Your understanding is correct. An 'Ensemble' consists of entities that have no dependencies and can be executed concurrently. A 'Pipeline' c

[2017-07-13 13:29] dww100 opened #12 "Authentication issues on Archer running bac_ensembletk_runner.py"
I can login to Archer using an ssh-key using the command:
`ssh d137dww@login.archer.ac.uk`
But when I try to run the bac_ensembletk_runner.py based on ensemble toolkit I get an error including "prompted for unknown password" does anyone know what is going on?

My config.json file looks like:
[code]

I have zipped up the config and log files in [bac_test.zip](https://github.com/radical-collaboratio

[2017-07-13 15:59] vivek-bala commented on #12
Hi Dave, can you confirm that you can login to Archer without a password? Any chance you have multiple usernames/accounts on Archer?

[2017-07-13 16:04] dww100 commented on #12
@vivek-bala I can definitely login without a password from using standard ssh, do you mean via some Radical component?

I do have multiple Archer accounts - I was working on the basis that this would be handled by the use of the correct username - do you agree that the json and command line above agree on that? Or am i misunderstanding something?

[2017-07-13 16:10] andre-merzky commented on #12
your ~/.ssh/config might configure ssh access for a different user name?  We had a case like that in the past.  If that is not the case, would you mind running with:

[code]

and attach the resulting log file, please?  Thanks!

[2017-07-13 16:17] dww100 commented on #12
@andre-merzky  My ~/.ssh/config contains entries for three (two current) logins for Archer. The entries look like the following for each account (d137 is the account I am trying to use):
[code]
Do I have to remove all other archer entries?

[2017-07-13 16:21] andre-merzky commented on #12
So you do something like `ssh archerd137`?  That should not interfere with our layers, no need to remove those entries.

Vivek, is the username passed through to the RP session?   David, please do send that logfile from above, if possible.

Thanks, Andre.

[2017-07-13 16:22] vivek-bala commented on #12
Hi Dave, can you edit to the following and try again:

[code]

[2017-07-13 16:27] vivek-bala commented on #12
@andre-merzky The username provided by the user is passed on to the RP context. Is that what you were asking? Also, RADICAL_SAGA_PTY_VERBOSE is accepted in RP/master as well, right?

@dww100 The config looks ok. But I can't see the actual command that gets executed to login to archer in the log that you attached. Can you also set RADICAL_SAGA_PTY_VERBOSE=DEBUG please?

[2017-07-13 16:30] dww100 commented on #12
@vivek-bala Editing my .ssh/config as suggested appear to have done the trick - thanks to you and @andre-merzky

[2017-07-13 16:34] vivek-bala commented on #12
Great! Glad to hear that.

[2017-07-13 16:34] #12 closed, assigned to nobody

[2017-07-18 10:47] sjzasada opened #13 "NAMD execution cores on Archer"
Hi,

We are using the following snippet to run NAMD on Archer:

		k2 = Kernel(name="md.namd")
		k2.arguments = ["%s/mineq_confs/eq0.conf" % rootdir]
		k2.cores = 8

Based on various examples. However, NAMD reports:

		Info: Running on 1 processors, 1 nodes, 1 physical nodes.

i.e. it's only running on a single core. Examining the radical_pilot_cu_launch_script.sh reveals:

		/opt/cray/alps/5.2.4-2

[2017-07-18 11:04] sjzasada opened #14 "Mongo proxy dying"
We're seeing the following error with some jobs:

[code]

I assume this means that whatever is doing the network proxying on the backend nodes to allow access to mongodb is dying. What could cause this to happen and how can we debug it?

[2017-07-18 14:15] vivek-bala opened #15 "Test RCT on BW"

[2017-07-18 14:38] vivek-bala commented on #13
Indeed! I think you are using the EoP pattern, where the cores are not getting translated and default to 1. Hotfix coming up.

[2017-07-18 14:40] vivek-bala commented on #11
Apologies for the delay. This is not possible in the master branch but exists in devel. I will create an example for this as well. Something more for the documentation as well. Thanks.

[2017-07-24 22:56] vivek-bala commented on #13
Hey Stefan, please test the master branch of radical.ensemblemd again. I tested to make sure the core specification is forwarded downstream.

There seem to have been some procedural changes in uploading packages to pypi. I will check them and upload to pypi later.

[2017-07-27 08:46] sjzasada commented on #13
Thanks, it looks like the core number is propagating now.

[2017-07-27 08:46] #13 closed, assigned to shantenujha, andre-merzky, vivek-bala

[2017-08-15 11:42] #15 closed, assigned to nobody

[2017-09-21 02:44] jdakka opened #16 "Production scale ESMACS/TIES Protocols"
@sjzasada @dww could you loop in agastya bhati (couldn't find his GitHub ID) in regards to attaining the TIES protocol scripts used to run on Archer, in order to begin encoding TIES into testing with the latest EnTK?

Also, for the production grade ESMACS protocol can you provide additional details for me to incorporate into the current implementation of ESMACS using EnTK i.e. on the analysis stag

[2017-09-21 09:49] sjzasada commented on #16
On 21 Sep 2017, at 03:44, Jumana Dakka <notifications@github.com<mailto:notifications@github.com>> wrote:

@sjzasada<https://github.com/sjzasada> @dww<https://github.com/dww> could you loop in agastya bhati (couldn’t find his GitHub ID) in regards to attaining the TIES protocol scripts used to run on Archer, in order to begin encoding TIES into testing with the latest EnTK?

Can you let us know wh

[2017-09-24 17:26] jdakka commented on #16
@sjzasada I'm trying to distill what is needed from each protocol in order to build a framework (that sits on top of EnTK as a library) and this exercise allows me to collect HTBAC user requirements

@dww100 could you help me in extending the current ESMACS script into the production grade ESMACS script that has possibly more tasks and incorporates analysis.

[2017-09-25 14:37] dww commented on #16
Glad you found the correct "dww", since I have no idea who you are or what you're talking about.  :) Unsubscribing.  Cheers, -Derek

[2017-09-25 14:39] dww100 commented on #16
@jdakka Sure, what input do you need?

[2017-09-25 17:48] jdakka opened #17 "Queue Times on Blue Waters"
There was some inquiry regarding queue times on BW:
1) XDMoD can provide "wait time" as a function of node count by doing the following:

You can get a bit finer granularity by selecting "Jobs Summary" then "Wait Hours: Per Job" and then click on a dot and select "Node Count" which gives a couple more classes.

http://xdmod.ncsa.illinois.edu/#tg_usage:statistic_Jobs_none_avg_waitduration_hours_0.7

[2017-09-25 18:57] jdakka commented on #16
@dww100 (looping a previous ticket: https://github.com/radical-collaboration/RADICAL-UCL/issues/2)

The current ESMACS protocol (that which we tested for the workshop paper) employs the "condensed input files" with the same number of steps as the old pipeline. Is the "condensed" protocol the correct implementation for the production runs, with the exception of the number of steps i.e. going from r

[2017-09-27 09:59] #11 closed, assigned to shantenujha, vivek-bala

[2017-09-27 13:07] sjzasada opened #18 "Kernel question"
When implementing our original BAC/ESMACS scripts, I used the NAMD kernel, and implemented kernels for tar etc.

However, I note in the reimplementation:

https://github.com/radical-collaboration/GB-SC18/blob/14421782554babd55d7ce0b49854d7fa813da949/scripts/esmacs/bac_runner_entk_0-6.py#L60

You simply launch NAMD via bash. Can you explain why this is? Surely it breaks the portability of the appli

[2017-09-27 13:09] jdakka commented on #18
This is specific to Blue Waters, there is no "module load namd"
these are the instructions from BW: https://bluewaters.ncsa.illinois.edu/namd

Also in the latest EnTK the "MD plugins" are no longer accessible.

[2017-09-27 13:11] sjzasada commented on #18
But why not then implement a NAMD kernel that executes the NAMD binary without doing module load?

Sorry - I'm just trying to understand how the process works 😃

[2017-09-27 13:13] jdakka commented on #18
@vivek-bala can you explain why the decision to remove the MD plugins

[2017-09-27 16:06] vivek-bala commented on #18
Hey Stefan!

The idea initially behind having kernel plugins was to be able to share the kernel definitions across the various projects. These kernel definitions (as you already know) allowed the users to define resource specific attributes (such as modules to be loaded, executable, arguments) for multiple resources in one location. It was quite useful to have it in such mode.

Different projects

[2017-09-29 09:23] kristofarkas opened #19 "TIES protocol questions"
### Questions

- `rootdir` has to be copied over, but only once. If `rootdir` is tarred up, then you have to untar it at then other end. Where would you put that 1 untaring proccess? Having an untar `Stage` would run for all pipelines.
- The executable (namd2) has to be executed in `rootdir`. Is this how Radical works?
- Setting up a `Task` correctly. How to specify an output pipe for the namd2 ex

[2017-09-29 09:43] kristofarkas commented on #19
Is subclassing `Task` like this okay?

[code]

[2017-10-01 16:00] jdakka opened #20 "Production scale # of mutations"
@dww100 How many mutations do you anticipate running with ESMACS and TIES at production scale?

[2017-10-01 21:19] jdakka commented on #19
@kristofarkas the subclassing Task should work. In regard to the `rootdir` @vivek-bala will explain the data movement in RADICAL Pilot

[2017-10-02 18:38] vivek-bala commented on #19
Hey Kristof, I initially thought it was an issue of data movement, but it isn't. When we have a **set** of Pipelines to execute, they (by definition) can execute in any order. With that in mind, keeping a Stage in any of the Pipelines so that it executes only once cannot be guaranteed. I see three solutions:

1) Move the untarred folder on to the remote resource manually before execution of the wo

[2017-10-02 21:10] jdakka commented on #20
Based on @dww100 response:

The INCITE proposal suggests that there are 4,000 combinations to be run (there are 35 FDA approved drugs, but I suspect some are not valid for us to study) using the MSKCC dataset. I would assume that means less than the hundred or so individual mutations you would naively guess as you need to use cycles to provide error checking.

[11:43]
In the industry drug discover

[2017-10-02 21:10] #20 closed, assigned to dww100

[2017-10-03 14:49] sjzasada commented on #18
From a user point of view, I found it useful to be able to take advantage of pre-defined kernels to run NAMD without myself having to find where NAMD is on each machine and how to run it. I'd suggest considering adding this feature back in some way.

[2017-10-03 14:49] #18 closed, assigned to shantenujha, vivek-bala

[2017-10-03 17:00] kristofarkas commented on #19
Option 1 would prevent the user from doing everything on the local machine.
Option 2 sound like the most elegant solution. Would you make two `AppManager`s with the same `ResouceManager`? and run them consecutively? How could you check if the first App ran?
Option 3 could have problems if two (or more) Taks' start untarring before an utarred folder exists.

`ResourceManager` has a property called

[2017-10-09 17:29] vivek-bala commented on #19
I would recommend automating option 1. You can spawn a separate process which does an scp/gsiscp of the data to the required location on the remote machine.

Option 2 is also ok, but might require some additional coding than the above suggestion. If you want to go ahead with this option, please use the fix/resubmission branch (https://github.com/vivek-bala/radical.entk/tree/fix/resubmission). Ther

[2017-10-09 17:33] vivek-bala commented on #19
Unfortunately, there is no folder staging yet, only files can be staged. You can do something similar to what Stefan and Jumana did in the esmacs scripts. See the following (this preserves the folder structure):
* https://github.com/radical-collaboration/GB-SC18/blob/master/scripts/esmacs/bac_runner_entk_0-6_barrier.py#L243-L249
* https://github.com/radical-collaboration/GB-SC18/blob/master/script

[2017-10-17 14:46] jdakka commented on #19
@kristofarkas do you have everything you need to resolve this issue?

[2017-10-17 14:47] #17 closed, assigned to dww100

[2017-10-17 15:23] kristofarkas commented on #19
@jdakka yes

[2017-10-17 15:23] #19 closed, assigned to vivek-bala, jdakka

[2017-10-19 16:25] jdakka opened #21 "TIES Cores Requirements"
@kristofarkas @sjzasada

In the radical.py script you specify the # of cores per pipeline = 8 however in the workflow.sh file you're requesting 32 threads for each pipeline (i.e. 16 cores). With which requirement should I proceed?

[2017-10-19 16:39] kristofarkas commented on #21
The `workflow.sh` file is what I used to submit this job via qsub on BW. There I had 32 cores but it will run with less too. I set it to 8 because the ESMACS script had 8 threads. I think we use even more than 32 per pipeline (@dww100 ?) in production runs.

[2017-10-19 16:39] jdakka opened #22 "TIES Execution"
@kristofarkas @sjzasada @dww100

For each of the 4 stages of ties ('min', 'eq1', 'eq2', 'prod') can you provide a rough estimate for duration of execution given the currently provided /bace1_b01 testing system?

[2017-10-19 16:59] jdakka commented on #21
@kristofarkas If you look back at workflow.sh there you request 1 process using 32 cores spawn +ppn 30 threads, can you explain why 30 threads (i.e. is this a NAMD constraint?)?

[2017-10-19 17:14] kristofarkas commented on #21
I just copied jphillip's (lead NAMD developer, hosting namd2 in his directory on BW) run script. Some of the cores are reserved for managing tasks. But probably you can just run a normal namd2 as you did with the esmacs runs.

[2017-10-19 17:18] kristofarkas commented on #22
I deliberately reduced the number of steps in each step for the whole simulation to run quickly. Runtime will depend on number of cores per pipeline also.
Is this a good idea? I assume there is no difference between running a 50000 vs a 5000 step simulation wrt testing Radical?

[2017-10-19 17:40] jdakka commented on #22
@kristofarkas for testing a shorter simulation time the 300 time step system you provided is perfectly fine in order to get benchmark data. For the use-case requirements however it would be good to get an estimate on a typical production run so we know what kind of wall time we're dealing with.

[2017-11-07 15:56] dww100 commented on #16
@apbhati Just making sure you are aware of this

[2017-11-17 18:23] jdakka opened #23 "ESMACS/TIES number of equilibrations/productions"
Mentioned in the use-case doc:

'' ESMACS replica consists of a workflow like that shown in Figure 2. Note that the three equilibration steps is illustrative, we currently use only two but are likely to wish to increase this in future. We may also wish to run more production runs or execute continuation runs which add additional production steps (and related analysis)."

I read also in the "Automa

[2017-11-17 22:34] jdakka opened #24 "File organization for TIES"
Reply to @kristofarkas's question:

"I was thinking of the file transfer problems we had and talked about. Just to check: *every* pilot/pipeline has its own sandbox. And you can stage/copy files into this directory. You can copy files that are set as the `shared_data` attribute of the resource manager.
One cannot share data between pipelines *but* can between stages?
Even in the simplest scenario

[2017-11-18 19:51] jdakka commented on #23
Also I've added in the high level representation of ensembles for the TIES use-case:

https://docs.google.com/drawings/d/1VcM0DN5AhuxmoyMfPo6qiojx4pc604fDPYGfQjgMkoI/edit?ts=5a106fc2

[2017-11-20 17:54] #1 closed, assigned to nobody

[2017-11-20 17:55] #7 closed, assigned to dww100

[2017-11-20 18:00] jdakka commented on #21
One last thing: the NAMD developer jphillip has changed the NAMD MPI path. This will change in the protocols. These are the versions currently available:

[code]
I'm testing the performance of `NAMD_2.12_CRAY-XE-ugni-smp-BlueWaters-memopt`

[2017-11-20 18:00] #21 closed, assigned to dww100, kristofarkas

[2017-11-20 18:10] jdakka opened #25 "Use-case document"
@dww100  @kristofarkas I've added my comments to the use-case requirements:

https://docs.google.com/document/d/1t7_EvRmhBOIsvZ6yEmXoZ25k-4ROnhYK_ptCppdFGjI/edit#

The biggest hurdle seems to be the file staging of TIES. I commented on what I assumed to be the bottleneck...one thing we can do is prepare a separate task at the beginning that would create and stage the lambda folders with their corr

[2017-11-25 20:02] kristofarkas opened #26 "Pipeline stalls after (during) first Stage"
I am trying to run a multi stage pipeline on *localhost*. The first stage seem to execute correctly, but then the next ones don't.

If I run with verbosity INFO, after some time the script outputs this every 10 seconds:
[code]
and never returns.

After this I tried a 1 Stage setup, and that results in this same behaviour.

Using the `experiment/jdakka` branch.

[2017-11-25 21:55] jdakka commented on #26
Could you check to make sure you have the following stack:
(Apologies we are still merging all our branches)

[saga-python](https://github.com/radical-cybertools/saga-python.git)
branch: rc/v0.46.3

[radical-utils](https://github.com/radical-cybertools/radical.utils.git)
branch: rc/v0.46.3

[radical-pilot](https://github.com/radical-cybertools/radical.pilot.git)
branch: rc/v0.46.3

[radical-entk](

[2017-11-25 22:04] jdakka opened #27 "VM account for Kristof"
@mturilli Please could you create an account on the RADICAL VM 2 for @kristofarkas ?

[2017-11-26 22:54] jdakka commented on #26
I've updated instructions for running the protocols depending on the configuration of the MD engine:
https://github.com/radical-collaboration/RADICAL-UCL/wiki/RCT

[2017-11-26 23:05] jdakka commented on #22
Closing issue with reference from use-case doc:

ESMACS/TIES No of sim steps per task:
eq0 - 1,000 (minimization)
eq1 - 30,000
eq2 - 970,000
sim1 - 2,000,000

[2017-11-26 23:05] #22 closed, assigned to nobody

[2017-11-27 10:26] kristofarkas commented on #26
I had the wrong branch of radical* installed. Changing to rc/v0.46.3 fixed the problem.

[2017-11-27 10:26] #26 closed, assigned to nobody

[2017-12-02 18:33] kristofarkas opened #28 "Task's parent_stage is None"
I am getting the following error when running entk:
[code]

From the error, a `Task` object's parent_stage is None. Why is this? Where could this error originate from? I am pretty sure, it's on my end, but I don't know how to debug this. The task is added to the stage with the `.add_tasks(task)` method for every new task. Why is this happing?

[2017-12-03 18:46] kristofarkas opened #29 "WFP doesn't schedule tasks"
It seems that for some reason no tasks are submitted for execution. On the remote there is no `unit.XXXX` folder created.

The logs excluding the startup:
[code]
From then on it's just this send-receive cycle.

The *only* pipeline that I'm submitting looks like this:
[code]

Any ideas what could be the problem?

[2017-12-03 18:51] jdakka commented on #29
@kristofarkas can you tar and send the rp folder and the rp folder in radical.pilot.sandbox on the agent side?

Btw are you running this on Blue Waters? And if so, are you using the radical GPU stack?

[2017-12-03 18:53] kristofarkas commented on #29
On BW and rc/0.46.3 stack.

[2017-12-03 18:59] kristofarkas commented on #29
[rp.local.tar.gz](https://github.com/radical-collaboration/GB-SC18/files/1525054/rp.local.tar.gz)
[rp.blue_waters.tar.gz](https://github.com/radical-collaboration/GB-SC18/files/1525055/rp.blue_waters.tar.gz)

[2017-12-03 19:09] jdakka commented on #29
This is an error in the runtime

@andre-merzky I checked the logs in the client side `rp.local.tar` `rp.session.julian.chem.ucl.ac.uk.kristof.farkas-pall.017503.0002/pmgr.0000.log`

[code]

[2017-12-03 19:16] andre-merzky commented on #29
I don't think the RP layer gets any units:

[code]

I also don't see any error messages in the logs, apart from those created during termination.  Could that be an EnTK issue?  The EnTK logs were not in the sandbox AFAICS.

@vivek-bala : would it make sense to always store the entk logs and profiles in the same session sandbox, to make it easier for users to pack things up?

[2017-12-03 19:19] jdakka commented on #29
@kristofarkas can you also send *.entk.*0000.prof files as well? Those should also be on the client side where rp.local is located

[2017-12-03 19:22] kristofarkas commented on #29
[rp.entk.tar.gz](https://github.com/radical-collaboration/GB-SC18/files/1525075/rp.entk.tar.gz)

[2017-12-03 19:35] jdakka commented on #29
can you run it with `export RADICAL_VERBOSE="DEBUG"` I think you have it set currently to `INFO`

[2017-12-03 19:46] kristofarkas commented on #29
[code]

[2017-12-03 19:50] jdakka commented on #29
@kristofarkas I think the rabbitmq host you're using is not setup properly. It's trying to connect to `vhost '/'` which probably doesn't exist.

@vivek-bala or @andre-merzky  what do you think?

[2017-12-03 19:53] kristofarkas commented on #29
I reran the script, and the error (relating to rabbitmq above) didn't show up. But that could be the problem nonetheless. What do you mean by correctly set up? I didn't do any "setting up", just installed the server as per instruction from their website.

[2017-12-03 19:54] jdakka commented on #29
how are you running appman? how did you specify the port?
i.e.:
`appman = AppManager(port = 32775)`

or `appman = AppManager(hostname = 'two.radical-project.org', port = 32775)`

[2017-12-03 19:55] kristofarkas commented on #29
I leave it blank, so it uses the default RabbitMQ port.

[2017-12-03 20:06] jdakka commented on #29
I think you need to specify the port...the default looks like this (from the entk doc): http://radicalentk-06.readthedocs.io/en/arch-v0.6/api/appman.html?highlight=AppManager

[2017-12-03 20:07] kristofarkas commented on #29
Yes, that's where the rabbit-mq is. And it worked for a long time.

[2017-12-03 20:54] vivek-bala commented on #28
Hey Kristoff, can you point me to the script that you are running.

[2017-12-03 22:15] kristofarkas commented on #28
Script is [here](https://github.com/kristofarkas/bioradical/blob/master/example/esmacs.py).
The pipeline is created [here](https://github.com/kristofarkas/bioradical/blob/32d5035cdeea09f15ea011fc76e356cddbb73c32/bioradical/workflow.py#L21-L34).

[2017-12-04 08:35] andre-merzky commented on #29
Assuming you deployed RabbitMQ via docker, could you please send the output of `docker ps`?

[2017-12-04 09:16] kristofarkas commented on #29
No, I have it installed on a macOS computer via brew.

[2017-12-04 09:23] andre-merzky commented on #29
Thanks.  Is there an easy way to verify if the service is still running and accessible?  You may have done so already I guess...  But as Jumana, I also would think that the error message indicates problem to contact the RabbitMQ service - either because the service has troubles, because the service endpoint URL is incorrectly communicated, or EnTK sends something invalid (like talking to a queue `

[2017-12-04 09:33] kristofarkas commented on #29
Above are all the files that I could find related to radical. Do you want anything else? The entk logs are [here](https://github.com/radical-collaboration/GB-SC18/files/1525075/rp.entk.tar.gz).

I reinstalled the whole RabbitMQ server, and the problem still exists. It was working properly for quite a while, and this problem just popped up at some point.

[2017-12-04 10:31] kristofarkas commented on #29
*Update:* when running entk with a bare-bones pipeline it works. The task/unit is submitted. This leads me to believe that the problem lies with how the pipeline is set up. As you said before, entk doesn't submit any units to the RP layer. Why could that be?

[2017-12-04 10:32] kristofarkas commented on #28
*Update:* when running entk with a bare-bones pipeline it works. The task/unit is submitted. This leads me to believe that the problem lies with how the pipeline is set up. As @andre-merzky said before, entk doesn't submit any units to the RP layer. Why could that be?

[2017-12-04 10:54] kristofarkas commented on #28
It very probable that I am doing the pipeline setup incorrectly.

Here are the logs. Do you need any other files?
[code]

[2017-12-04 11:00] kristofarkas commented on #28
@vivek-bala is there a constraint on the order of when one can call `.add_stages` and `.add_tasks`? In this case, first the pipeline is created, then all the stages are created and added to the pipeline with `.add_stages`. Then all the tasks are created and added one by one to the corresponding stage with `.add_tasks`. Could it be that the pipeline doesn't update the count of how many tasks are in

[2017-12-04 15:24] vivek-bala commented on #28
Ah yes! I think you caught it correctly. In your case, the Pipeline consists of empty stage(s) and hence you see the error. The tasks need to be added to the stages before the stage is added to the Pipeline. Let me know if that resolves the issue.

I think the error message can be improved to reflect empty stages. I'm creating a list of issues suggesting improved debug messages. If the above sugge

[2017-12-04 15:31] vivek-bala commented on #29
Hey Andre. Currently the logs are written to STDOUT and not to files. I agree it will be beneficial to write them to files. I am not sure if I want to put it under the session folder as EnTK needs to be independent of RP as much as  possible.

I agree with the others that it does look like its coming from the RabbitMQ connectivity. If it still exists, can you give me the output of ```rabbitmqctl l

[2017-12-04 16:56] andre-merzky commented on #29
I don't think that using the same folder makes it dependent.  Like, you can create a EnTK session ID, and put log files into a subdir with that ID as name - and then can also force that ID onto RP.  That is not a dependency, as you can do the same for a different backend *or not* w/o loosing anything.

[2017-12-04 17:14] vivek-bala commented on #29
Yes, I see what you mean! Sounds good to me.

[2017-12-04 17:56] kristofarkas commented on #28
Okay, I made the change, now it looks like [this](https://github.com/kristofarkas/bioradical/blob/315d1c2a9227c13321b8fb345e46111573081a11/bioradical/workflow.py#L21-L32).
The good news it that is seems to work, i.e. it submits the tasks as intended.
The bad news is that there is a *new* error that I'm getting. I think this has to do with the gpu branch that is used.
[code]
This appears to be in t

[2017-12-04 17:58] kristofarkas commented on #29
@vivek-bala all these errors started at the same time, so I am assuming they are related (to #28).

[2017-12-04 18:06] andre-merzky commented on #28
you likely need to switch to the `feature/gpu` branch in SAGA, too.  What version are you currently using?
 The `radical-stack` command should tell you.

[2017-12-04 18:09] kristofarkas commented on #28
[code]

[2017-12-04 18:11] kristofarkas commented on #28
*Update:* the `rc/0.46.3` stack works again 🙏.

[2017-12-04 18:13] vivek-bala commented on #28
You might already be doing this. But just to keep it safe, I will suggest two different virtualenvs for the two stacks you are using as opposed to upgrading the same VE.

[2017-12-04 19:07] jdakka commented on #28
It appears that jphillips (the lead developer of NAMD on BW) has re-added the MPI version of NAMD, which allows us to revert back to the more stable RC stack.

Unfortunately BW doesn't document which versions are available for use/which have been taken down without reason... it's happened many times where I've had to switch between versions and as a result switch radical-stack(s).

As a long term

[2017-12-04 19:59] kristofarkas commented on #29
Closing this. The solution to #28 fixed this too.

[2017-12-04 19:59] #29 closed, assigned to andre-merzky, vivek-bala

[2017-12-04 20:00] #28 closed, assigned to vivek-bala

[2017-12-05 18:34] #24 closed, assigned to kristofarkas

[2017-12-05 18:34] #14 closed, assigned to vivek-bala

[2017-12-05 18:35] #10 closed, assigned to vivek-bala

[2017-12-05 18:35] #3 closed, assigned to nobody

[2017-12-05 18:37] #2 closed, assigned to nobody